.active {
  color: #e7e7e7;
}

.roadmap {
  background: #e2e2e2;
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.roadmap_wrapper {
  position: relative;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.roadmap_wrapper-progress-line {
  left: 80px;
  z-index: 3;
  content: "";
  height: 100%;
  position: absolute;
  width: 3px;
  background-color: #ffffff;
}

.roadmap_item {
  position: relative;
  border-radius: 3px;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;;
  flex-direction: column;
  width: 100%;
  height: 240px;
  margin: 16px 0;
  background-color: #020336;
  border: 1px solid #ffffff;
  z-index: 5;
  padding: 32px 128px;
}

.roadmap_item-stage {
  position: absolute;
  z-index: 15;
  top: 24px;
  left: 58px;
  border: 1px solid #ffffff;
  padding: 16px 16px;
  border-radius: 50%;
}

.roadmap_item span {
  font-size: 28px;
  padding-bottom: 16px;
}

.roadmap_item div {
  font-size: 18px;
}

@media (max-width: 1220px) {
  .roadmap_wrapper {
    padding: 0 16px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .roadmap_item {
    height: auto;
  }
}

@media (max-width: 600px) {
  .roadmap_item {
    padding: 24px 24px 24px 128px;
  }
  .roadmap_item-stage {
    left: 36px;
  }
}

@media (max-width: 380px) {
  .roadmap_item {
    padding: 24px 24px 24px 72px;
  }
  .roadmap_item-stage {
    left: 16px;
    top: 16px;
    padding: 8px;
  }
}