.faq {
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.faq_wrapper {
  padding: 16px 48px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  background-color: #020336;
  color: #ffffff;
  border-radius: 3px;
}

.faq_title {
  font-size: 28px;
  font-weight: 400;
}

.faq_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4px 0;
}

@media (max-width: 1220px) {
  .faq_wrapper {
    padding: 8px 20px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .faq_content {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .faq {
    box-sizing: border-box;
    padding: 20px;
  }
}