.axolotls-carousel {
  background: #e2e2e2;
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.axolotls-carousel_wrapper {
  width: 1200px;
}

.axolotls-carousel_carousel div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%
}

.axolotls-carousel_content-item {
  width: 300px;
}

.axolotls-carousel_content-item img {
  border-radius: 3px;
  height: 280px;
  width: 280px;
  margin-left: 220px;
  padding: 24px;
}