.axolotls-carousel {
  background: #e2e2e2;
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.axolotls-carousel_wrapper {
  width: 1200px;
}

.axolotls-carousel_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.axolotls-carousel_view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  color: #ffffff;
  font-weight: 700;
  background-color: #ab9ad5;
  font-size: 16px;
}

.axolotls-carousel_view-btn:hover {
  cursor: pointer;
  opacity: .9;
  transition: .3s;
}

.axolotls-carousel_view-btn:active {
  opacity: .8;
}

.axolotls-carousel_title {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  color: #9d82d7;
}

.axolotls-carousel_carousel div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%
}

.axolotls-carousel_content-item {
  width: 300px;
}

.axolotls-carousel_content-item img {
  border-radius: 3px;
  height: 280px;
  width: 280px;
  margin-left: 180px;
  padding: 24px;
}