.axolotls-carousel {
  background: #e2e2e2;
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.axolotls-carousel_wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.axolotls-carousel_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.axolotls-carousel_view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  color: #ffffff;
  font-weight: 700;
  background-color: #020336;
  font-size: 16px;
}

.axolotls-carousel_view-btn:hover {
  cursor: pointer;
  opacity: .9;
  transition: .3s;
}

.axolotls-carousel_view-btn:active {
  opacity: .8;
}

.axolotls-carousel_title {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  color: #020336;
}

.axolotls-carousel_carousel {
  display: flex;
  align-self: center;
  width: 50%;
}

.axolotls-carousel_carousel div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}

.axolotls-carousel_content-item {
  border-radius: 3px;
}

.axolotls-carousel_content-item img {
  border-radius: 3px;
  padding: 24px;
}

@media (max-width: 1220px) {
  .axolotls-carousel_wrapper {
    width: 100%;
  }
  .axolotls-carousel {
    box-sizing: border-box;
    padding: 80px 20px 0;
  }
}

@media (max-width: 600px) {
  .axolotls-carousel {
    box-sizing: border-box;
    padding: 40px 20px 0;;
  }
  .axolotls-carousel_header {
    justify-content: center;
  }
  .axolotls-carousel_view-btn {
    display: none;
  }
  .axolotls-carousel_carousel {
    width: 100%;
  }
}