.community {
  width: 100%;
  color: #ffffff;
  z-index: 5;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.community_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 320px;
  border-radius: 3px;
  max-width: 1200px;
  background-color: #020336;
  padding: 48px;
  box-sizing: border-box;
  z-index: 15;
}

.community_wrapper img {
  width: 128px;
}

.community_wrapper span:first-child {
  font-size: 28px;
}

.community_wrapper span:not(first-child) {
  font-size: 18px;
  max-width: 50%;
}

.join-discord {
  border: 1px solid #ffffff;
  padding: 10px 8px;
  border-radius: 3px;
  transition: .25s;
}

.join-discord:hover {
  transition: .3s;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}

.join-discord:active {
  opacity: .85;
}

.axolotl-background-1 {
  position: absolute;
  right: 30px;
  top: 130px;
}

.axolotl-background-2 {
  position: absolute;
  right: 210px;
  top: 40px;
}

.axolotl-background-3 {
  position: absolute;
  right: 150px;
  top: 110px;
}

.axolotl-background-4 {
  position: absolute;
  right: 250px;
  top: 120px;
}

.axolotl-background-5 {
  position: absolute;
  right: 90px;
  top: 50px;
}

@media (max-width: 768px) {
  .community_wrapper {
    height: auto;
  }

  .axolotl-background-4 {
    display: none;
  }

  .axolotl-background-2 {
    display: none;
  }
}

@media (max-width: 580px) {
  .axolotl-background-5 {
    display: none;
  }

  .axolotl-background-3 {
    display: none;
  }

  .community_wrapper span:first-child {
    max-width: 80%;

  }
  .community_wrapper span:not(first-child) {
    max-width: 75%;
    padding: 8px 0;
  }
}

@media (max-width: 580px) {
  .axolotl-background-1 {
    display: none;
  }
  .community_wrapper span:first-child {
    max-width: 100%;
  }
  .community_wrapper span:not(first-child) {
    max-width: 100%;
  }
  .community {
    padding: 0;
  }
}