.collage {
  padding-top: 80px;
  width: 100%;
  position: relative;
  height: fit-content;
}

.collage_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.collage_wrapper div {
  width: 10%;
  height: 152px;
  z-index: 5;
}

.collage_wrapper img {
  width: 50%
}

.collage_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: brightness(50%);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.collage_filter div {
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  padding-top: 74px;
}

.collage_timer {
  color: #ffffff;
}

.time-container {
  display: flex;
  flex-direction: column;
}

.time-container span:nth-child(2) {
  font-size: 24px;
}

.nft-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nft-buttons div {
  border-radius: 3px;
  width: 40%;
  border: 1px solid #ffffff;
  padding: 10px 8px;
  font-weight: 700;
  transition: .25s;
}

.nft-buttons div:hover {
  cursor: pointer;
  transition: .3s;
  background-color: #020336;
}

.nft-buttons div:active {
  opacity: 0.85;
}

@media (max-width: 1450px) {
  .collage_wrapper {
    height: 730px;
  }
}

@media (max-width: 1200px) {
  .collage_wrapper {
    height: 520px;
  }
}


@media (max-width: 768px) {
  .collage_wrapper {
    height: 400px;
  }
  .collage_filter div {
    font-size: 36px;
  }
}

@media (max-width: 426px) {
  .collage_wrapper {
    height: 220px;
  }
  .collage_filter div {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  .collage_wrapper {
    height: 320px;
  }
  .collage_wrapper img {
    width: 100%;
  }
  .collage_collage2 {
    display: none;
  }
}

/*@media (max-width: 375px) {*/
/*  .collage_wrapper {*/
/*    height: 200px;*/
/*  }*/
/*}*/

/*@media (max-width: 320px) {*/
/*  .collage_wrapper {*/
/*    height: 160px;*/
/*  }*/
/*}*/