.footer {
  width: 100%;
  background-color: #020336;
  display: flex;
  justify-content: center;
  height: 120px;
}

.footer_wrapper {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  color: #ffffff;
}

.footer-logo {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
}

.footer-logo div {
  display: flex;
  align-items: center;
}

.footer-text div {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}

.footer-text img {
  width: 90px;
}

.footer-links {
  height: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_links div {
  margin: 0 8px 0 0;
}

.footer_links img {
  height: 28px;
}

@media (max-width: 1220px) {
  .footer_wrapper {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 525px) {
  .footer-logo div span {
    display: none;
  }
  .footer-links {
    padding-left: 24px;
  }
}
