.app {
  position: relative;
  height: 100%;
}

.page-axolotl-2 {
  position: fixed;
  right: 20px;
  animation: axolotlAlive 1.9s infinite ease-in-out;
}

.page-axolotl-3 {
  position: fixed;
  left: 20px;
  animation: axolotlAlive 1.9s infinite ease-in-out;
}

@keyframes axolotlAlive {
  0% {
    top: 120px;
  }
  25% {
    top: 119px;
  }
  50% {
    top: 120px;
  }
  75% {
    top: 121px;
  }
  100% {
    top: 120px;
  }
}

.page-axolotl img {
  opacity: 0.7;
  width: 164px;
}

.page-axolotl-2 img {
  opacity: 0.7;
  width: 164px;
}

.page-axolotl-3 img {
  opacity: 0.7;
  width: 164px;
}
